<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include ./partials/_header %></header>
    <ul>
        <% for ( var objkey in urls ) { %>
        <li><%=[objkey]%> : <%=urls[objkey]%> </li>
        <% } %>
        <li><a href="./urls/new/" target="_blank">Shorten your URL!</a> </li>
    </ul>
    </body>
</html>