<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include partials/_header %></header>
    <ul>
        <li><%=shortURL%> : <a href="http://<%=longURL%>" target="_blank"><%=longURL%></a></li>
    </ul>
    </body>
</html>

<li><a href="../urls/new/" target="_blank">Shorten your URL!</a> </li>