<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include ./partials/_header %></header>
    <ul>
        <li><a href="../urls/new" target="_blank">Shorten your URL!</a> </li>
    </ul>

<table style="width:100%">
  <tr>
    <th>Short URL</th>
    <th>Long URL</th>
    <th>Action</th>
  </tr>
  <tr>
    <% for ( var objkey in urls ) { %>
    <td><%=[objkey]%></td>
    <td><%=urls[objkey]%> </td>
    <td><form method="POST" action="/urls/<%=[objkey]%>/delete"><input type="submit" value = "delete"></input></form>
</td>
  </tr>
  <% } %>
  <tr>
</table>

</body>
</html>